@use '../../variables' as *;

#landing-page {
    width: 100%;
    height: 100vh;
    padding-block: 5rem; // Nav has height of 4 rem
    @include bgColor($clr-primary-dark, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10rem;

    @media (orientation: portrait) {
        flex-direction: column;
    }

    @media (max-width: 90rem) {
        gap: 3rem;
        padding: 6rem;
    }

    @media (max-width: 64rem) {
        flex-direction: column;
        padding: 2rem;
    }

    * {
        width: clamp(15rem, 100%, 70rem);
    }

    .landing-page__welcome-heading {

        width: 100%;
        font-family: $ff-heading;
        font-size: $fs-600;

        @include fontColor($clr-primary-light, 1);

        h1 {
            font-size: $fs-700;

            span {
                color: lighten($clr-accent, 10%);
            }
        }

        @media (orientation: portrait) {
            text-align: center;
            margin: auto;
        }

        @media (max-width: 64rem) {
            margin: auto;
            text-align: center;
        }
    }

    .landing-page__logo {
        height: clamp(15rem, 40%, 70rem);
        margin: auto;
        @include fontColor($clr-primary-light, 0.3);
        
        @media (orientation: portrait) {
            width: 50%;
        }

        @media (max-width: 64rem) {
            height: clamp(15rem, 30%, 70rem);
            text-align: center;
        }
    }


}