@use '../../variables.scss' as *;

a.nav-link {
    padding-block: .3rem;
    font-size: $fs-200;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    transition: 0.15s ease-in;
    color: lighten($clr-accent, 10%);
    cursor: pointer;

    &:hover {
        transform: translateY(0.1rem) translateX(-0.1rem);
        border-bottom: 1px solid lighten($clr-accent, 10%);
    }
}