@use '../../variables.scss' as *;

#projects-page {
    width: 100%;
    padding-block: 7rem; // Nav has height of 4 rem
    @include bgColor($clr-primary-light, 1);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}