@use '../../variables.scss' as *;

footer#contact {
    width: 100%;
    height: 100vh;
    background-color: $clr-tertiary-dark;
    padding: 10rem;
    display: flex;
    gap: 1rem;

    header.contact-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        p {
            font-size: $fs-700;
            font-family: $ff-heading;
            color: $clr-primary-light;
        }

        .contact-icon {
            @include fontColor($clr-primary-light, 0.3);
            width: 100%;
            height: 70%;
        } 
    }

    div.contact-links {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $clr-accent;

        div.contact-link-wrapper {
            width: 100%;
            height: 50%;
            display: flex;
            gap: 1rem;
        }

        a.github-link {
            text-decoration: none;
            display: flex;
            color: $clr-accent;
            gap: 1rem;

            .github {
                width: 100%;
                height: 100%;
            }

            p {
                align-self: center;
                font-size: $fs-400;
                font-weight: 700;
            }
        }

        div.copy-email {
            display: flex;
            gap: 1rem;
            cursor: pointer;

            .email {
                color: $clr-accent;
                width: 100%;
                height: 100%;
            }

            p {
                align-self: center;
                font-size: $fs-400;
                font-weight: 700;
            }
        }

    }
}