@use './variables.scss' as *;

// Custom scroll bar

/* width */
::-webkit-scrollbar {
    width: 0.575rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lighten($color: $clr-accent , $amount: 20%);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darken($color: $clr-accent , $amount: 5%);
    border-radius: 10rem;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($color: $clr-accent , $amount: 10%);

  }