@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

// colors
$clr-primary-dark: #3D348B;
$clr-primary-light: #efefec;
$clr-secondary-dark: #761e38;
$clr-tertiary-dark: #4C3957;
$clr-accent: #F18701;
$clr-popup: #70a37f;


// mixins
@mixin fontColor($RGBcolor, $opacity) {
    color: rgba($RGBcolor, $opacity)
}

@mixin bgColor($RGBcolor, $opacity) {
    background-color: rgba($RGBcolor, $opacity)
}

// fonts
$ff-heading: 'Montserrat', sans-serif;

// font sizes
$fs-1000: 9rem;
$fs-900: 8rem;
$fs-800: 6rem;
$fs-700: 4rem;
$fs-600: 2.5rem;
$fs-500: 1.75rem;
$fs-400: 1.5rem;
$fs-300: 1.25rem;
$fs-200: 1rem;
$fs-100: 0.75rem;
