
div.project-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div.tech {
        display: flex;
        flex-direction: row;

        * {
            margin: 0.25rem;
        }

        margin-top: auto;
    }

    div.links {
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }
}